
<% if @user.errors.any? %>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

<% end %>


<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> </br>
  <%= f.label :email %>
  <%= f.text_field :emailid %> </br>
  <%= f.label :password %>
  <%= f.password_field :password %> </br>
  confirmpassword
  <%= password_field_tag :confirmpassword %>  
  <%= f.submit "submit"%> </br>
<% end %>

