<%= render 'home/admin' %>
<h1>Welcome to your profile</h1>
<table >
<tr>
    <td><h4>Name</h4></td>
    <td><%= @user.name %></td></tr><tr>
     <td><%= link_to 'Edit', edit_user_path(@user.id) %></td>
    <td><%= link_to 'Destroy', users_path, :confirm => 'Are you sure?', :method => :delete %></td></tr>
  </tr>
  
<% @bookmarks.each do |books| %>
 <tr>
   <td><span>Title :</span></td>
   <td><%= link_to books.title , books.title ,:target=>:_blank %></td></tr></br>    
   <td><span>Description :</span></td>
   <td><%=  books.description %></td></tr></br>

<tr>
   <td><%= link_to 'Show', books %></td>
   <td><%= link_to 'Edit', edit_bookmark_path(books) %></td>
   <td><%= link_to 'Destroy', books, :confirm => 'Are you sure?', :method => :delete %></td></tr></br>
 </tr>
<% end %>

  


</table>

<br />

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
