<div align="center">

<%= form_for(@administrator) do |f|%>
  <%= f.label :Username %>
  <%= f.text_field :username %><br/>
<%= f.label :Password  %>
  <%= f.password_field :password %><br />
  <%= f.submit "Login" %><br /></br />
<% end %>

</div>
